name: Swift

on: 
  push:
    branches: 
    - "*"
  pull_request:
    branches: 
    - "*"

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  #macOS:
  #  runs-on: macOS-latest
  #  steps:
  #  - name: Checkout
  #    uses: actions/checkout@v1
  #    with:
  #      fetch-depth: 1
  #  - name: Build
  #    run: swift build
      
  linux:
    strategy:
      matrix:
        image: ["vapor/swift:5.2-xenial", "vapor/swift:5.2-bionic"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
      volumes:
      - $GITHUB_WORKSPACE:/src
      options: --workdir /src
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install dependencies
      run: |
        apt-get update -qq
        apt-get install -q -y tzdata libssl-dev zlib1g-dev
    - name: Build
      run: swift build
